@model MVC5_ASPNET_FINALPROJECT.Models.UserProfile
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/shopping-cart-template.png" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/bootstrap-template.png" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Ana Sayfa</a> <span class="divider">/</span></li>
            <li class="active">Kullanıcı Profili</li>
        </ul>

        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <h3>Kişisel Bilgileriniz</h3>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.Id)
                <div class="control-group">
                    <label class="control-label" for="inputFname">Adınız: </label>
                    <div class="controls">

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Soyadınız: </label>
                    <div class="controls">

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Kullanıcı Adınız:</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Emailiniz: </label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                



                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Güncelle" class="btn-social">
                        <a href="/Account/ChangePassword">Şifre Değiştir</a>
                    </div>
                </div>

            }

        </div>




    </div>
</div>


